Once we know that Los Angeles is the county where we will install aour office I make a few reaquest through Forsquare in order to get the coordinates of all the wished places near to our offices: a kindergarten, a Starbucks, a basketball stadium, a vegan food restaurant, a party club and a dog hairdresser. I created a different csv for each dataset of coordinates that I store for later analysis.

In [ ]:
import pandas as pd
from folium import Map, Marker, Icon, FeatureGroup, LayerControl, Choropleth
from folium.plugins import HeatMap
from folium.vector_layers import Circle, Polygon
from api_query import query_foursquare_explore
from api_query import query_foursquare_search

## Kindergarten

In [112]:
search_k=query_foursquare_search("kindergarten","Los Angeles")

In [142]:
kindergartens = [[i['location']['labeledLatLngs'][0]['lng'],i['location']['labeledLatLngs'][0]['lat']] for i in search_k['response']['venues']]    
cities_k = [i['location']['formattedAddress'][-2] for i in search_k['response']['venues']]

In [143]:
city_kindergartens_lst=[]
for i in range(len(kindergartens)):
        city_kindergarten = {"city":cities_k[i],"kindergarten":kindergartens[i]}
        city_kindergartens_lst.append(city_kindergarten)

In [144]:
df_kindergartens=pd.DataFrame(city_kindergartens_lst)
df_kindergartens.to_csv('kindergartens.csv')
df_kindergartens.head()

                    city                              kindergarten
0  San Gabriel, CA 91776   [-118.1077970264596, 34.09603300498706]
1  Los Angeles, CA 90033                    [-118.21939, 34.05306]
2  Los Angeles, CA 90041                  [-118.214986, 34.130836]
3             California  [-118.09561920166016, 34.09136199951172]
4     El Monte, CA 91731          [-118.03980800000001, 34.073071]

In [116]:
m = Map(location=[34.047469, -118.246317],zoom_start=4)
for i, row in df_kindergartens.iterrows():
    city = {
        "location":row["kindergarten"],
        "popup":"kindergarten",
        "tooltip":row["city"]
    }

    ic = Icon(color="blue",
              prefix="fa",
              icon="child")
    Marker(**city, icon=ic).add_to(m)

## Starbucks

In [118]:
search_s = query_foursquare_explore("starbucks","Los Angeles")

In [145]:
starbucks = [[i['venue']['location']['lng'],i['venue']['location']['lat']] for i in search_s['response']['groups'][0]['items']]
cities_s = [i['venue']['location']['formattedAddress'][-2] for i in search_s['response']['groups'][0]['items']]

In [146]:
city_starbucks_lst=[]
for i in range(len(starbucks)):
        city_starbuck = {"city":cities_s[i],"starbuck":starbucks[i]}
        city_starbucks_lst.append(city_starbuck)

In [147]:
df_starbucks=pd.DataFrame(city_starbucks_lst)
df_starbucks.to_csv('starbucks.csv')
df_starbucks.head()

                    city                                   starbuck
0  Los Angeles, CA 90012   [-118.24024876785406, 34.05877990357595]
1  Los Angeles, CA 90036    [-118.3441787476043, 34.06711292093809]
2  Los Angeles, CA 90026   [-118.26489718236814, 34.07718627690432]
3    Hollywood, CA 90038  [-118.33882326225402, 34.086919406051926]
4  Los Angeles, CA 90017   [-118.25852634103549, 34.04816305210899]

##Â Basketball stadium

In [123]:
search_b = query_foursquare_explore("basketball stadium","Los Angeles")

In [148]:
stadium = [[i['venue']['location']['lng'],i['venue']['location']['lat']] for i in search_b['response']['groups'][0]['items']]
cities_b = [i['venue']['location']['formattedAddress'][-2] for i in search_b['response']['groups'][0]['items']]

In [149]:
city_stadium_lst=[]
for i in range(len(stadium)):
        city_stadium = {"city":cities_b[i],"stadium":stadium[i]}
        city_stadium_lst.append(city_stadium)

In [150]:
df_basket_stadium=pd.DataFrame(city_stadium_lst)
df_basket_stadium.to_csv('basket_stadium.csv')
df_basket_stadium.head(5)

                    city                                    stadium
0  Los Angeles, CA 90015  [-118.26719093124382, 34.043084694520346]
1      Tujunga, CA 91040  [-118.29897786502363, 34.262854250541324]
2        Los Angeles, CA  [-118.26695182852772, 34.043281733980876]
3  Los Angeles, CA 90015   [-118.26746571534997, 34.04319147850755]
4  Los Angeles, CA 90095   [-118.44482335324683, 34.07097798709694]

##Â Dog hairdresser

In [69]:
search_dh = query_foursquare_explore("dog hairdresser","Los Angeles")

In [151]:
dog_hairdresser = [[i['venue']['location']['lng'],i['venue']['location']['lat']] for i in search_dh['response']['groups'][0]['items']]
cities_dh = [i['venue']['location']['formattedAddress'][-2] for i in search_dh['response']['groups'][0]['items']]

In [152]:
dog_hairdresser_lst=[]
for i in range(len(dog_hairdresser)):
        city_dog_hairdresser = {"city":cities_dh[i],"dog_hairdresser":dog_hairdresser[i]}
        dog_hairdresser_lst.append(city_dog_hairdresser)

In [153]:
df_dog_hairdresser=pd.DataFrame(dog_hairdresser_lst)
df_dog_hairdresser.to_csv('dog_hairdressers.csv')
df_dog_hairdresser.head(5)

                        city                           dog_hairdresser
0         Pasadena, CA 91105                 [-118.148375, 34.1446723]
1      Los Angeles, CA 90026   [-118.2597466610646, 34.07882717350257]
2          Burbank, CA 91505  [-118.34081228017457, 34.15075983229739]
3         Pasadena, CA 91106  [-118.12150556927679, 34.14790768106961]
4  North Hollywood, CA 91601  [-118.37236562800793, 34.16063603716144]

##Â Vegan food

In [101]:
search_vf = query_foursquare_explore("vegan food","Los Angeles")

In [154]:
vegan_food = [[i['venue']['location']['lng'],i['venue']['location']['lat']] for i in search_vf['response']['groups'][0]['items']]
cities_vf = [i['venue']['location']['formattedAddress'][-2] for i in search_vf['response']['groups'][0]['items']]

In [155]:
vegan_food_lst=[]
for i in range(len(vegan_food)):
        city_vegan_food = {"city":cities_vf[i],"vegan_food":vegan_food[i]}
        vegan_food_lst.append(city_vegan_food)

In [156]:
df_vegan_food=pd.DataFrame(vegan_food_lst)
df_vegan_food.to_csv('vegan_food.csv')
df_vegan_food.head(5)

                    city                                vegan_food
0  Los Angeles, CA 90004   [-118.3238069457162, 34.08293949353896]
1  Los Angeles, CA 90046  [-118.37021756510343, 34.08355377036199]
2  Los Angeles, CA 90039                [-118.2584507, 34.1028766]
3  Los Angeles, CA 90038    [-118.3276556046501, 34.0941055323146]
4  Los Angeles, CA 90048   [-118.3730298244673, 34.07623651196047]

##Â Party clubs

In [107]:
search_pc = query_foursquare_explore("party club","Los Angeles")

In [157]:
party_clubs = [[i['venue']['location']['lng'],i['venue']['location']['lat']] for i in search_pc['response']['groups'][0]['items']]
cities_pc = [i['venue']['location']['formattedAddress'][-2] for i in search_pc['response']['groups'][0]['items']]

In [158]:
party_clubs_lst=[]
for i in range(len(party_clubs)):
        city_party_clubs = {"city":cities_pc[i],"party_club":party_clubs[i]}
        party_clubs_lst.append(city_party_clubs)

In [159]:
df_party_clubs=pd.DataFrame(party_clubs_lst)
df_party_clubs.to_csv('party_clubs.csv')
df_party_clubs.head(5)

                    city                                 party_club
0  Los Angeles, CA 90028  [-118.33495765278985, 34.101275021356834]
1  Los Angeles, CA 90014   [-118.25457241874592, 34.04768494041055]
2  Los Angeles, CA 90028   [-118.32850915573077, 34.10156574286022]
3  Los Angeles, CA 90012   [-118.23759107876778, 34.06515202118792]
4    Hollywood, CA 90028  [-118.33502304537807, 34.101108036056566]